{% extends "base.html" %}

{% block content %}
        <div class="row text-center">
            <div class="col-md-12">
                <h1>about me</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h3>inspiration</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>
                     Perspiciatis soluta eum eveniet animi veniam id odit dolor. <br> Eligendi eum atque, accusamus, <br>
                      blanditiis esse est error fugit cupiditate enim sed dolorum!
                </p>
            </div>
            <div class="col-md-6">
                <h3>background</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                   <br> Alias recusandae, dolorem enim numquam cum necessitatibus 
                  <br> ullam error vitae cumque libero repellat, 
                   <br> tempore nostrum architecto? Unde ratione voluptatum iste dignissimos aliquid.</p>
            </div>
        </div>
{% endblock %}